.disconnected {
  color: #CCCCCC !important;
}

.connecting {
  color: #FFAA15 !important;
}

.connected {
  color: #00C781 !important;
}

.peer-button > .root{
  background: none !important;
  color: var(--mantine-color-dark-2);
  .dark {
    color: var(--mantine-color-white);
  }
  @media hover {
    color: var(--mantine-color-green-4);
  }
}
